@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "poppins", sans-serif;
    border:none;
    outline:none;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    color: #fff;
    background-color: #1f242d;
    display: flex;
    scroll-behavior: smooth;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container{
    width: 100%;
    height: 100%;
    background: transparent;
}
.logo{
    position: fixed;
}
.animated-bars{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    display: flex;
    z-index: -1;
}

.animated-bars .bars {
    width: 100%;
    height: 100%;
    border: 2px solid #1f242d;
    background: #1f242d;
    transform: translateX(-200%);
    animation: show 1s ease-in-out forwards;
    animation-delay: calc(.5s * var(--i));
}

@keyframes show {
    100% {
        transform: translateX(0);
    }
}

.background-name h1 {
    font-size: 65px;
    color: transparent;
    -webkit-text-stroke: .7px #ff0000;
    
}

.nav-bar {
    width:100%;
    padding:1rem 7%;
    background:transparent;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    animation:  showContent 0.7s ease-in-out forwards;
    animation-delay: 0.7s;
    z-index: 100;
    
}

.nav-bar .logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.nav-bar .nav-text {
    display: flex;
    align-items: center;
}

.nav-bar .nav-text a{
    margin-left: 35px;
    color: #fff;
    transition: .5s;
    font-size: 18px;
}

.nav-bar .nav-text a:hover{
    color: #ff0000;
}


main {
    width:100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    align-items: center;
    padding: 8rem 7% 2rem;
    opacity: 0;
    visibility: hidden;
    animation:  showContent 0.7s ease-in-out forwards;
    animation-delay: 0.7s;
}

@keyframes showContent  {
    100%{
        opacity: 1;
        visibility: visible;
    }
}

.home-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-info h1 {
    font-size: 55px;
    line-height: 1;
}

.home-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.home-info h2 {
    font-size: 35px;
    color: #ff0000;
}

.home-info h2 .typing-animate {
    color: rgba(108, 228, 17, 0.737);
    filter: drop-shadow(100px 100px 90px rgb(255, 255, 255));
}
.home-info p {
    font-size: 16px;
    margin: 13px 0;
    font-weight: bolder;
}
.nav-text .active{
  color: red;
}
.btn-group {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 14px;
}

.btn-group .btn {
    padding: 10px 30px;
    border-radius: 40px;
    color: #1f242d;
    background: #ff0000;
    font-weight: 700;
    border: 2px solid #ff0000;
    box-shadow: 0 0 10px #ff0000;
    transition: .5s ease;
}

.btn-group .btn:hover {
    background: transparent;
    color: #ff0000;
    box-shadow: none;
}
.con h3,label{
    color: rgb(172, 179, 179);
    font-size: smaller;
    font-family: verdana;
    margin: 0 10px;
}
.socail-link a{
    padding: 8px;
    border:2px solid #ff0000;
    display: inline-flex;
    border-radius: 50%;
    margin:0 8px ;
    color: #ff0000;
    transition: .5s ease;
}

.socail-link a:hover {
    background: transparent;
    color: #ff0000;
    box-shadow: 0 0px 100px #ff0000;
}

main .img-box {
    width: 32vw;
    height: 32vw;
    position: relative;
    background: #1f242d;
    border-radius: 50%;
    transition: .5s ease;
}
main .img-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background: transparent;
    border-radius: 50%;
    box-shadow:0 0 50px #ff0000 ;
}

main .img-item img {
    transform: scaleX(-100%);
    width: 100%;
    object-fit: cover;
    border-radius: 360px;
    mix-blend-mode: lighten;
}
.footer{
    background-color: #3e434b;
    font-size: x-large;
    color: #fff;
    bottom: 0;
    height: 350px;
}

.copy{
    text-align: center;
    margin-top: 2%;
    font-family: arial;
    font-size: small;
}

.con a{
    padding: 8px;
    border:2px solid #ff0000;
    display: inline-flex;
    border-radius: 50%;
    margin:8px 8px 15px 0;
    color: #ff0000;
    transition: .5s ease;
}
.con{
    list-style-type: none;
    display: flex;
    color: #fff;
    margin: -21% -30% 0 -80%;
    padding: 2% 0 0 10px;
    justify-content: center;
    font-size: larger;
    align-items: center;
    flex-direction: column; 
}

.con a:hover{
    background: transparent;
    color: #ff0000;
    box-shadow: 0 0px 100px #ff0000;
}

.li{
    display: flex;
    font-size: larger;
    justify-content: center;
    align-items: center;
    margin: 2% 0 0 -80%;
    padding: 2% 0 0 10px;
    flex-direction: column;
    flex-wrap: nowrap;    
}

@media only screen and (max-width: 330px){
  main{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 1002px){
    .nav-text{
        position: absolute;
        display: flex;
        overflow: hidden;
        align-items:  center;
        justify-content: center;
        margin: 20% auto 0 auto;
        width: 100vh;
        transition: 0.5s;
        flex-direction: column;
        background-color: #1f242d;
        color: white;
    }
    .nav-text a:hover{
        color: #ff0000;
    }
    .checkbtn{
        display: block;
        padding: 0 2% 0 0;
       }
       
}

@media only screen and (max-width: 1002px){
  main .img-home, .home-info{
          display: grid;
          flex-direction: column;
          grid-template-rows: auto auto;
       }
       main .home-ifno, .btn-group{
        display: grid;
        grid-template-rows: auto auto;
       }
       main .img-home{
        
        display: flex;
        justify-content: center;
        align-items: center;
       }
       main{
        display: grid;
        gap: 40px;
        margin-top: 100px ;
       }
       .btn{
        width: max-content;
       }
       #check:checked ~ main{
        margin-top: 150px;
       }
       .home-ifno{
        display: flex;
        width: 100vh;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
       }
}

@media only screen and (min-width:909px){
    .checkbtn,.checkb{
          display: block;
    }
 } 

.checkb{
    margin: 0 0 0 -100%;
}
#check:checked ~ .nav-text{
    display: none;
    transition: 0.5s;
}

.checkbtn{
    font-size: 40px;
    display: block;
}

@media only screen and (max-width: 440px){
  main .img-home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transform: scale(200%);
  }
  main .img-home, .home-info{
    display: grid;
    flex-direction: column;
    grid-template-rows: auto auto;
 }
 main .home-ifno, .btn-group{
  display: grid;
  grid-template-rows: auto auto;
 }
 main{
  display: grid;
  gap: 250px;
  justify-content: center;
  align-items: center;
  margin-top: 100px ;
 }
 .btn{
  width: max-content;
 }
 #check:checked ~ main{
  margin-top: 150px;
 }
 .home-ifno{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
 }
 .btn-group, .socail-link{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
 }
}